body {
    min-height: 100%;
    color: $boulder-darker;
}
a {
    color: $crimson;
    &:visited, &:active {
        color: $violet;
    }
    &:hover {
        color: $cardinal;
    }
}
#projects:target, #me:target, #contact:target {
    background-color: $boulder-lighter;
}

// custom resets
// -------------
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}
img, embed, object, video {
    max-width: 100%;
}
::selection {
    color: $white;
    background-color: $crimson;
}
::-moz-selection {
    color: $white;
    background-color: $crimson;
}