@mixin shadow-amount-hover($amount) {
    &[data-amount="#{$amount}"]:hover {
        @include box-shadow(rem($amount * 1px) rem($amount * 1px) 0 $boulder-lighter);
    }
}
section.content {
    padding: rem(10px);
    header {
        text-align: center;
        h1 {
            display: inline-block;
            padding: rem(10px);
        }
    }
    h1, h2 {
        margin-bottom: rem(10px);
    }
    article {
        display: inline-block;
        margin: rem(20px);
        text-align: center;
        h2 {
            margin-top: rem(10px);
        }
        > a {
            display: inline-block;
            @include box-shadow(0 0 0 $boulder-lighter);
            // @include transition($fast);
            @for $i from 1 through 20 {
                @include shadow-amount-hover($i);
            }
        }
        ul {
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                position: relative;
                a {
                    display: inline-block;
                    &:hover {
                        span {
                            @include opacity(1);
                            visibility: visible;
                        }
                    }
                    i {
                        font-size: rem(20px);
                    }
                    span {
                        display: block;
                        color: $white;
                        background-color: $cardinal;
                        padding: 0 rem(10px);
                        @include absolute (top rem(20px) left 0);
                        @include opacity(0);
                        visibility: hidden;
                        @include transition($fast);
                        @include box-shadow(rem(5px) rem(5px) 0 $boulder-lighter);
                    }
                }
            }
        }
    }
}
section#post, section.me {
    p + p, p + blockquote, blockquote + p, p + ul, ul + p, blockquote + ul, ul + blockquote {
        margin-top: rem(24px);
    }
}