section.content {
    padding: 0 rem(20px);
    header {
        text-align: center;
        h1 {
            display: inline-block;
            line-height: 1;
            padding: rem(20px);
            margin: rem(10px) 0; // compensate for line-height 1
        }
    }
    section.projects-list {
        text-align: center;
        article {
            display: inline-block;
            padding: rem(20px);
            vertical-align: bottom;
            text-align: center;
            > a {
                display: inline-block;
                line-height: 0;
                border: rem(2px) solid $boulder-lighter;
                @include box-shadow(0 0 0 $boulder-lighter);
                @include transition($fast);
                &:hover {
                    @include box-shadow(rem(5px) rem(5px) 0 $boulder-lighter);
                }
            }
            ul {
                margin: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    a {
                        display: inline-block;
                        &:hover, &:active {
                            span {
                                @include opacity(1);
                                visibility: visible;
                            }
                        }
                        i {
                            font-size: rem(20px);
                        }
                        span {
                            display: block;
                            color: $white;
                            background-color: $cardinal;
                            padding: 0 rem(10px);
                            @include absolute (top rem(20px) left 0);
                            @include opacity(0);
                            visibility: hidden;
                            @include transition($fast);
                            @include box-shadow(rem(5px) rem(5px) 0 $boulder-lighter);
                        }
                    }
                }
            }
        }
    }
}
section#post, section.me {
    p + p, p + blockquote, blockquote + p, p + ul, ul + p, blockquote + ul, ul + blockquote {
        margin-top: rem(24px);
    }
    time {
        font-size: rem(10px);
    }
}