body > header {
    text-align: center;
    padding: rem(10px);
    a#logo {
        display: inline-block;
        img, svg {
            height: rem(160px);
            width: rem(160px);
        }
        &:hover {
            path {
                fill: $crimson;
            }
        }
        &:active {
            path {
                fill: $cardinal;
            }
        }
    }
    nav#menu {
        @include fixed(top 0 right 0);
        z-index: 2;
        &:target {
            a.open {
                display: none;
            }
            a.close {
                display: block;
            }
            ul {
                @include opacity(1);
                visibility: visible;
                // display: block;
            }
        }
        ul {
            @include opacity(0);
            visibility: hidden;
            // display: none;
            background-color: $crimson;
            height: auto;
            margin: 0;
            @include absolute(top rem(20px) right 0);
            // @include transition($fast);
            li {
                display: block;
                a {
                    width: rem(128px);
                }
            }
        }
        a {
            color: $white;
            background-color: $crimson;
            line-height: rem(32px);
            padding: 0 rem(10px);
            display: block;
            text-decoration: none;
            text-align: left;
            &:hover {
                background-color: $cardinal;
            }
        }
        a.close {
            display: none;
        }
        hr {
            display: block;
            border: none;
            width: 100%;
            height: rem(1px);
            background-color: $white;
            margin: 0 auto;
        }
    }
}