<section class="me">
    <h2 id="me">Ja</h2>
    <p>Kiedyś włożyłem sobie klocek do nosa, żeby przejechać się z dziadkiem nowym samochodem do szpitala. Potem chciałem zmyślać schronienia i tkać algorytmy dla rakiet kosmicznych, ale ojć! Houston, mamy problem. Po bezpiecznym lądowaniu na powierzchni rodzinnej planety, szczęśliwie odkryłem mroczny sekret Dr. Prawdy. Zdruzgotany zacząłem projektować jakieś wyjście z tej absurdalnej matni. Założyłem tutaj swój elektroniczny adres pocztowy:</p>
    <h3 id="contact">smutnyleszek@gmail.com</h3>
    <p>Obecnie łapię egzystencję do klatki na ćmy, raduję się śladami atramentu na papierze, miętoszeniem furkoczących pętelek i sekretnym czytaniem o co chodzi. Jestem Leszek Pietrzak. Hejże.</p>
</section>