<section class="me">
    <header><h1 id="me">{{ site.icon-me }} Me</h1></header>
    <p>Once I put on the block to the nose, to ride with her grandfather a new car to the hospital. Then I would fabricate shelter and weave algorithms for space rockets, but OJC! Houston, we have a problem. After a safe landing on the surface of the home planet, happily discovered the dark secret Dr. Truth. Crushed started making a way out of this absurd entanglement. I put here your e-mail address:</p>
    <p><a href="mailto:smutnyleszek@gmail.com" id="contact">{{ site.icon-contact }} smutnyleszek@gmail.com</a></p>
    <p>Now I find myself in a cage on the existence of a moth, I rejoice in the footsteps of ink on paper, miętoszeniem flapping loops and secret reading about what's going on. I Leszek Pietrzak. Holla.</p>
</section>