<nav class="project-summary-categories-list">
    <ul>
        {% for category in include.categories %}
            <li>
                {% if include.language == "pl-pl" %}
                    <a href="{{ site.url }}/category/{{ category }}">
                        {% include category-icon.liquid category=category %}
                        <span>{% include category-name.liquid category=category language="pl-pl" %}</span>
                    </a>
                {% else if include.language == "en-us" %}
                    <a href="{{ site.url }}/en-us/category/{{ category }}">
                        {% include category-icon.liquid category=category %}
                        <span>{% include category-name.liquid category=category language="en-us" %}</span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>