<article>
    <a href="{{ post.url }}" data-amount="{{ post.amount }}"><img src="{{ site.url }}/assets/img/{{ post.thumbnail }}" alt=""></a>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <ul>
        {% for category in post.categories %}
        	{% if include.language == "pl-pl" %}
				<li><a href="{{ site.url }}/category/{{ category }}">{% include category-icon.html %}<span>{% include category-name.html language="pl-pl" %}</span></a></li>
        	{% else if include.language == "en-us" %}
				<li><a href="{{ site.url }}/en-us/category/{{ category }}">{% include category-icon.html %}<span>{% include category-name.html language="en-us" %}</span></a></li>
        	{% endif %}
        {% endfor %}
    </ul>
</article>