{% for post in site.posts %}
    {% if post.title == page.title %}
    	{% if post.language != page.language %}
            <a href="{{ site.url }}{{ post.url }}">{% include navigation-icon.liquid link="language" %} {% if include.language == "pl-pl" %}English version{% else %}Polska wersja{% endif %}</a>
        {% endif %}
    {% endif %}
{% endfor %}