// --------------------------------------------------
// modular scale
// 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 128, 160, 256, 320, 512, 640, 1024, 1280, 2048, 2560
// --------------------------------------------------

$scaleMain: 16;
$scaleSecondary: 20;
$scaleFraction: 1/2;
$scaleFractionInverse: 1/$scaleFraction;


// --------------------------------------------------
// fonts
// --------------------------------------------------

$source: "Source Sans Pro", sans-serif;
$code: "Source Code Pro", monospace;

$baseFontWeight: 400;
$baseFontSize: $scaleMain * 1px;
$baseLineHeight: 1.5;
$baseFontFamily: $source;

$fontSizeBig: 20px;
$fontSizeSmall: 14px;


// --------------------------------------------------
// colors
// --------------------------------------------------

$black: rgb(0,0,0);
$white: rgb(255,255,255);

$violet: rgb(100,40,140);
$cardinal: rgb(170,30,100);
$crimson: rgb(240,20,60);

$boulder: rgb(30,20,15);
$boulderLight: rgb(220,210,205);


// --------------------------------------------------
// breakpoints and content widths settings
// --------------------------------------------------

$breakBig: 1024px;
$breakSmall: 512px;


// --------------------------------------------------
// speed
// --------------------------------------------------

$fast: 0.2s;
$slow: 0.6s;

