body {
    min-height: 100%;
    color: $boulder-dark;
}
a {
    color: $crimson;
    &:visited, &:active {
        color: $cardinal;
    }
    &:hover {
        color: $violet;
    }
}

// custom resets
// -------------
img, embed, object, video {
    max-width: 100%;
}
::selection {
    color: $white;
    background-color: $crimson;
}
::-moz-selection {
    color: $white;
    background-color: $crimson;
}