// --------------------------------------------------
// basic content
// --------------------------------------------------

section.page-content {
    padding: 0 rem(20px);
    margin: auto;
    max-width: rem(800px);
    h1 {
        line-height: 1;
        padding: rem(24px) rem(20px);
        background-color: $boulderLight;
    }
    time {
        display: inline-block;
    }
    img {
        display: block;
        margin: auto;
    }
}


// --------------------------------------------------
// list of thumbnails
// --------------------------------------------------

section.projects-list {
    text-align: center;
    padding: rem(12px) 0;
}


// --------------------------------------------------
// me section
// --------------------------------------------------

section.me-info-contact {
    p {
        a {
            display: inline-block; // prevent word-break
        }
    }
}