// basic content
// -------------
section.content {
    padding: 0 rem(20px);
    margin: auto;
    max-width: rem(800px);
    h1 {
        line-height: 1;
        padding: rem(24px) rem(20px);
        background-color: $boulder-light;
    }
    p, blockquote, ul, ol, time {
        margin-top: rem(24px);
    }
    time {
        display: inline-block;
    }
    img {
        display: block;
        margin: auto;
    }
}
// list of thumbnails
// ------------------
section.projects-list {
    text-align: center;
    padding: rem(12px) 0;
    article {
        @include column();
        padding: rem(24px) rem(20px);
        vertical-align: bottom;
        text-align: center;
        width: rem(256px);
        @include transition($fast);
        @media screen and (max-width: #{$break-small}) {
            width: 100%;
        }
        > a {
            display: inline-block;
            line-height: 0;
            &:hover, &:active {
                svg {
                    fill: $violet;
                }
            }
        }
        img {
            width: rem(256px);
            height: auto;
        }
        svg {
            width: rem(216px);
            height: rem(216px);
            fill: $boulder;
        }
        ul {
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                position: relative;
                a {
                    display: inline-block;
                    &:hover, &:active {
                        span {
                            @include opacity(1);
                            visibility: visible;
                        }
                    }
                    i {
                        font-size: rem(20px);
                    }
                    span {
                        display: block;
                        color: $white;
                        background-color: $violet;
                        padding: 0 rem(8px);
                        @include absolute(top 1.5rem left 0); // 24px
                        @include opacity(0);
                        visibility: hidden;
                        @include transition($fast);
                    }
                }
            }
        }
    }
}
// single project
// --------------
section#post {
    a img {
        border: rem(2px) solid $boulder-light;
        @include box-shadow(0 0 0 $boulder-light);
        @include transition($fast);
        &:hover {
            @include box-shadow(rem(5px) rem(5px) 0 $boulder-light);
        }
    }
    footer {
        time + a {
            margin-left: rem(10px);
        }
    }
}
// me section
// ----------
section.me {
    p {
        a {
            display: inline-block;
        }
    }
}
// 404 error page
// --------------
body.error {
    color: $white;
    background-color: $crimson;
    a#logo {
        path {
            fill: $white;
        }
        &:hover {
            path {
                fill: $white;
            }
        }
    }
    h1 {
        color: $crimson;
        background-color: $white;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}