.page-header {
    text-align: center;
    padding: rem(10px);
}

.page-header-logo {
    display: inline-block;
    line-height: 0;
    img, svg {
        height: rem(160px);
        width: rem(160px);
        fill: $crimson;
        &:hover, &:active {
            fill: $violet;
        }
    }
}