section.page-content-single-post ul.project-summary-categories-list {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem(20px);
    ul {
        li {
            a {
                color: $boulder;
                &:hover {
                    color: $violet;
                }
            }
        }
    }
}

ul.project-summary-categories-list {
    font: 400 1rem/#{$baseLineHeight} $baseFontFamily;
    margin: 0;
    li {
        list-style: none;
        display: inline-block;
        position: relative;
        a {
            display: inline-block;
            &:hover, &:active, &:focus {
                span {
                    @include opacity(1);
                    visibility: visible;
                }
            }
            i {
                font-size: rem(20px);
            }
            span {
                font-size: 1rem;
                display: block;
                color: $white;
                background-color: $violet;
                padding: 0 rem(8px);
                @include absolute(top 1.5rem left 0); // 24px
                @include opacity(0);
                visibility: hidden;
                @include transition($fast);
            }
        }
    }
}