section.content {
    padding: 0 rem(20px);
    margin: auto;
    max-width: rem(800px);
    h1 {
        text-align: center;
        line-height: 1;
        padding: rem(24px) rem(20px);
        background-color: $boulder-lighter;
    }
    p, blockquote, ul, ol, time {
        margin-top: rem(24px);
    }
    time {
        display: inline-block;
    }
    img {
        display: block;
        margin: auto;
    }
    section.projects-list {
        text-align: center;
        padding: rem(12px) 0;
        article {
            display: inline-block;
            padding: rem(12px) rem(20px);
            vertical-align: bottom;
            text-align: center;
            @media screen and (max-width: #{$break-small}) {
                display: block;
            }
            > a {
                display: inline-block;
                line-height: 0;
            }
            img {
                width: rem(128px);
                height: auto;
            }
            ul {
                margin: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    a {
                        display: inline-block;
                        &:hover, &:active {
                            span {
                                @include opacity(1);
                                visibility: visible;
                            }
                        }
                        i {
                            font-size: rem(20px);
                        }
                        span {
                            display: block;
                            color: $white;
                            background-color: $cardinal;
                            padding: 0 rem(10px);
                            @include absolute(top 1.5rem left 0); // 24px
                            @include opacity(0);
                            visibility: hidden;
                            @include transition($fast);
                        }
                    }
                }
            }
        }
    }
}
// hovers on images
section#post a img, section.projects-list article > a {
    border: rem(2px) solid $boulder-lighter;
    @include box-shadow(0 0 0 $boulder-lighter);
    @include transition($fast);
    &:hover {
        @include box-shadow(rem(5px) rem(5px) 0 $boulder-lighter);
    }
}
section#post {
    footer {
        time + a {
            margin-left: rem(10px);
        }
    }
}
body.error {
    color: $white;
    background-color: $crimson;
    a#logo {
        path {
            fill: $white;
        }
        &:hover {
            path {
                fill: $white;
            }
        }
    }
    h1 {
        color: $crimson;
        background-color: $white;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}