{% include header.liquid language="pl-pl" %}

    <section class="page-content page-content-single-post" role="main">
        
        <h1>{{ page.title }}{% include post-categories-list.liquid language=page.language categories=page.categories %}</h1>

        {{ content }}

        <footer class="single-post-meta">
            <time datetime="{{ page.date }}"><i class="fa fa-clock-o"></i> {% include date.liquid language="pl-pl" %}</time>
            {% include project-other-language.liquid language="pl-pl" %}
        </footer>

    </section>

{% include footer.liquid %}