<ul class="project-summary-categories-list">
    {% for category in include.categories %}
        <li>
            {% if page.language == "pl-pl" %}
                <a href="{{ site.url }}/category/{{ category }}">
                    {% include helpers/category-icon.liquid category=category %}
                    <span>{% include helpers/category-name.liquid category=category %}</span>
                </a>
            {% else if page.language == "en-us" %}
                <a href="{{ site.url }}/en-us/category/{{ category }}">
                    {% include helpers/category-icon.liquid category=category %}
                    <span>{% include helpers/category-name.liquid category=category %}</span>
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>